*{
    box-sizing: border-box;
}

h1{
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
}

.row{
    width: 100%;
}

.box{
    border: 3px solid black;
    position : relative;
    width: 1;
    margin : 10px;
    background-color: #CCC;
}

.content{
   text-align: left;
   padding: 10px;
   font-weight: 16px;
}

#chicken{
    border : 2px solid black;
    width : 20%;
	margin-left: 80%;
    float:right;
	margin-right: -3px;
    margin-top: -3px;
    text-align: center;
    background-color: pink;
    font-weight: bolder;
}

#beef{
    border : 2px solid black;
    width : 20%;
    margin-left: 80%;
    float:right;
	margin-right: -3px;
    margin-top: -3px;
    text-align: center;
    background-color: red;
    color: white;
    font-weight: bolder;
}

#sushi{
    border : 2px solid black;
    width : 20%;
    margin-left: 80%;
    float:right;
	margin-right: -3px;
    margin-top: -3px;
    text-align: center;
    background-color: Yellow;
    font-weight: bolder;
}

@media(min-width: 992px){
    .col-lg-4{
        width : 33.33%;
        float : left;
    }
}

@media(min-width: 768px) and (max-width : 991px){
    .col-md-6{
        width : 50%;
        float : left;
    }

    .col-md-12{
        width : 100%;
        float : left;
    }
}

@media(max-width: 767px){
    .col-sm-12{
        width : 100%;
        float : left;
    }
}
